<!DOCTYPE html>
<html>
  <head>
    <title>User Registration</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body>
    <header class="navbar navbar-light bg-light">
      <div class="container">
        <h1><%= content_for?(:page_header) ? yield(:page_header) : "User Registration" %></h1>
      </div>
    </header>
    <%= yield %>
     <p class="notice"><%= notice %></p>
      <p class="alert btn btn-danger"><%= alert %></p>
  </body>
</html>
